:root {
  --primary-color: #333; /* Dark grey for header and footer */
  --text-color: #ffffff; /* White text */
  --table-bg: #000; /* Black background for table */
  --table-text: #fff; /* White text for table */
  --table-border: #444; /* Subtle border color */
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: url('/public/assets/vb.jpg') no-repeat center center fixed;
  background-size: cover;
}

.standings-container {
  padding: 20px;
  margin: 0 auto;
  text-align: center;
  background-color: var(--table-bg);
  color: var(--table-text);
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  max-width: 90%;
}

.standings-container h2 {
  color: var(--text-color);
  margin-bottom: 20px;
}

.standings-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px auto;
}

.standings-table th,
.standings-table td {
  padding: 10px;
  border: 1px solid var(--table-border);
  text-align: left;
  color: var(--table-text);
}

.standings-table th {
  background-color: var(--primary-color);
}

.standings-table tr:nth-child(even) {
  background-color: var(--table-border);
}

.standings-table tr:nth-child(odd) {
  background-color: var(--table-bg);
}

/* Header */
.top-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-color);
  color: var(--text-color);
  z-index: 1000;
}

.top-header h1 {
  font-size: 1.8em;
  font-weight: bold;
  margin: 0;
}

.top-buttons {
  display: flex;
  gap: 10px;
}

.header-button {
  background-color: var(--table-border);
  color: var(--text-color);
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 1em;
  cursor: pointer;
}

.header-button:hover {
  background-color: var(--table-text);
  color: var(--primary-color);
}

/* Footer */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: center;
  background-color: var(--primary-color);
  color: var(--text-color);
}

.footer-button {
  background-color: var(--table-border);
  color: var(--text-color);
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 1em;
  cursor: pointer;
}

.footer-button:hover {
  background-color: var(--table-text);
  color: var(--primary-color);
}
