# Python specific
__pycache__/          # Bytecode cache directories
*.py[cod]             # Compiled Python files
*.pyo                 # Optimized Python files

# Environment and configuration files
venv/                 # Virtual environment folder (Python)
.env                  # Environment variables file
*.env                 # Other environment variable files
.DS_Store             # macOS system file, ignore if on macOS

# Logs and database
*.log                 # Log files
*.sqlite3             # SQLite database files (if any)
db.sqlite3            # Common SQLite database name

# Temporary files
*.tmp                 # Temporary files
*.bak                 # Backup files
*.swp                 # Swap files (e.g., from Vim)

# IDEs and editors
.idea                # PyCharm and other JetBrains IDEs
.vscode              # VSCode settings
*.sublime-*           # Sublime Text files
