/* src/components/schedule/scheduleCalendar.css */

.calendar-wrapper {
  width: 100%; /* Full width to utilize available space */
  max-width: 1200px; /* Set a maximum width to ensure it doesn’t become too wide on large screens */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #a69696ae;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
  margin: 0 auto; /* Center the calendar on the page */
  color: #333; /* Change text color inside the calendar wrapper */
}

.calendar-title {
  margin-bottom: 15px;
  font-size: 1.8rem; /* Increase font size for better visibility */
  font-weight: bold;
  text-align: center;
  color: #444; /* Change text color of the calendar title */
}

.rbc-calendar {
  border-radius: 8px;
  width: 100%; /* Make the calendar take full width of the wrapper */
  height: 70vh; /* Set a fixed height to control vertical space */
  box-shadow: none;
  color: #555; /* Change text color inside the calendar */
}

.rbc-toolbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 0 10px;
  color: #666; /* Change text color of the toolbar */
}

.rbc-event {
  background-color: #888; /* Grey background color for calendar events */
  color: black; /* Change text color of the events */
  border-radius: 8px; /* Make event boxes rounder */
  padding: 5px;
}

.rbc-event:hover {
  background-color: #555; /* Darker grey on hover */
}

.rbc-today {
  background-color: #f0f0f0; /* Light grey for the current day */
}

.export-button {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
  padding-right: 10px;
}

.export-button button {
  padding: 12px 24px;
  background-color: #555; /* Grey background for export button */
  color: white; /* White text color for export button */
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.export-button button:hover {
  background-color: #333; /* Darker grey on hover */
}